.more {
	font-size: 9pt;
	font-weight: 700;
	line-height: 1.35;
	padding: 1pc 23px 15px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	text-align: center;
	letter-spacing: 1px;
	color: #fff;
	border: 2px solid $color-primary;
	border-radius: 999px;
	background-color: $color-primary;

	&:hover,
	&:focus {
		color: $header-color;
		background: 0 0;
		text-decoration: none;
		outline: 0;
	}

	&.simple {
		padding: 17px 24px 1pc;
		transition: all 0.3s ease 0s;
		color: #fff;
		border: 1px solid $color-gray-darker;
		background: 0 0;

		&:hover,
		&:focus {
			border-color: $color-primary;
			background-color: $color-primary;
			text-decoration: none;
			outline: 0;
		}
	}
}